<footer class="mt-40 border-t border-t-border bg-surface">
    <div class="container max-w-2xl mx-auto py-8 px-4">
        <p class="mb-0 text-sm">
            By
            <a href="https://github.com/LumexUI"
               target="_blank"
               class="font-semibold underline-offset-3 decoration-zinc-600 hover:underline">
                desmondinho
                <span class="font-normal">at LumexUI</span>
            </a>
        </p>
    </div>
</footer>
