@page "/"
@inject ToastService Toast

<PageTitle>Home</PageTitle>

<button @onclick="@(() => Toast.Show( "Hello World!" ))">Show toast</button>
<button @onclick="@(() => Toast.Show( "Hello World!Hello World!Hello World!Hello World!Hello World!Hello World!Hello World!Hello World!" ))">Show toast</button>
