@namespace Blazor.Sonner.Docs.Client.Components

<section>
    <h2>Installation</h2>
    <CodeBlock Code="Installation.package"
               Class="[&_[data-copy]]:opacity-100 [&_[data-copy]]:right-2 [&_[data-copy]]:top-1/2 [&_[data-copy]]:-translate-y-1/2 [&_[data-code-block]]:mb-0 [&_[data-code]]:h-10 [&_[data-code]]:flex [&_[data-code]]:items-center [&_[data-code]]:py-0 [&_[data-code]]:text-sm!" />

    <p class="mt-6">Register the service in the DI container.</p>
    <CodeBlock Code="Installation.service" />

    <p class="mt-6">Add the styles to the HTML.</p>
    <CodeBlock Code="Installation.styles" />
</section>