@namespace Blazor.Sonner.Docs.Client.Components
@inject ToastService Toast

<section>
    <h2>Position</h2>
    <p>Swipe direction changes depending on the position.</p>
    <div class="flex flex-wrap gap-2">
        @foreach( var (key, value) in _positions )
        {
            <Button IsActive="@(key == Position)"
                    OnClick="@(() => HandleClickAsync( key ))">
                @value.Name
            </Button>
        }
    </div>
    <CodeBlock Code="@_positions[Position]?.Snippet" />
</section>

@code {
    [Parameter] public Common.ToastPosition Position { get; set; }
    [Parameter] public EventCallback<Common.ToastPosition> PositionChanged { get; set; }

    private Dictionary<Common.ToastPosition, PositionDescriptor> _positions = default!;

    protected override void OnInitialized()
    {
        _positions = new Dictionary<Common.ToastPosition, PositionDescriptor>()
        {
            [Common.ToastPosition.TopLeft] = new( "Top-left", "topLeft" ),
            [Common.ToastPosition.TopCenter] = new( "Top-center", "topCenter" ),
            [Common.ToastPosition.TopRight] = new( "Top-right", "topRight" ),
            [Common.ToastPosition.BottomLeft] = new( "Bottom-left", "bottomLeft" ),
            [Common.ToastPosition.BottomCenter] = new( "Bottom-center", "bottomCenter" ),
            [Common.ToastPosition.BottomRight] = new( "Bottom-right", "bottomRight" )
        };
    }

    private async Task HandleClickAsync( Common.ToastPosition position )
    {
        await PositionChanged.InvokeAsync( position );
        Toast.DismissAll();

        Toast.Show( "Event has been created", t =>
        {
            t.Description = "Monday, January 3rd at 6:00pm";
        } );
    }

    private record PositionDescriptor( string Name, string Snippet );
}
